#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.envoltura {
  display: inline;
  margin: 1em;
}

.envoltura > div {
  display: inline-block;
}

.logo {
  height: 140px;
  margin-left: 40px;
  padding: 5px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #000792aa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #ca61fbaa);
}

.header-text{
  margin: 0; 
  font-size: 90px; 
  flex: 1; 
  text-align: center; 
  font-family: 'Courier New', Courier, monospace; 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 25s linear;
  }
}

.card {
  padding: 15px;
  border-style: double;
  margin: 10px;
  width: 260px;
  height: 190px;
}

.read-the-docs {
  color: #888;
}

